.aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  inset: 0;
  background: #FFF;
  padding: 36px 28px 76px;
  width: 306px;
  height: 100%;
  z-index: 60;
}
@media (max-width: 1439px) {
  .aside {
    top: 0;
    left: -100%;
    padding: 36px 28px 30px;
    transition: left 0.3s ease 0s;
  }
  .aside_active {
    left: 0;
  }
}
.aside__logo {
  display: flex;
  align-items: center;
  margin: 0 0 54px;
}
.aside__logo-link {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.01em;
  color: #000;
}
.aside__logo-link img {
  margin: 0 8px 0 0;
}
.aside__logo-link span {
  font-weight: 500;
  font-size: 10px;
  letter-spacing: -0.01em;
  color: #838383;
  margin: 0 0 0 4px;
}
.aside__content {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
.aside__menu-item {
  margin: 0 0 18px;
}
.aside__menu-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #9197b3;
  padding: 11px 8px 11px 11px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform-origin: left;
  border-radius: 8px;
}
.aside__menu-link_active {
  border-radius: 8px;
  background: #5932ea;
  color: #FFFFFF;
}
.aside__menu-link_active svg {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
.aside__menu-link_active svg:last-child {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}
.aside__menu-icon {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 14px 0 0;
  fill: none;
  stroke: #9197B3;
}
.aside__menu-arrow {
  width: 16px;
  height: 16px;
  margin: 0 0 0 auto;
  fill: #9197B3;
  stroke: #9197B3;
}
.aside__flex {
  flex: 1 1 auto;
}
.aside__account {
  display: flex;
  align-items: center;
}
.aside__account-column {
  margin: 0 0 0 12px;
}
.aside__account-name {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.01em;
  color: #000;
}
.aside__account-role {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}