aside.aside
  div.aside__logo
    a(href="#").aside__logo-link
      img(src='./img/logo.svg', alt="Logo")
      | Dashboard
      span v.01

  div.aside__content
    div.aside__menu
      nav.aside__menu-body
        ul.aside__menu-list
          li.aside__menu-item
            a(href="#").aside__menu-link
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#dashboard')
              | Dashboard
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)

          li.aside__menu-item
            a(href="#").aside__menu-link
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#product')
              | Product
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)

          li.aside__menu-item
            a(href="#").aside__menu-link.aside__menu-link_active
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#customers')
              | Customers
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)

          li.aside__menu-item
            a(href="#").aside__menu-link
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#income')
              | Income
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)

          li.aside__menu-item
            a(href="#").aside__menu-link
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#promote')
              | Promote
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)

          li.aside__menu-item
            a(href="#").aside__menu-link
              svg.aside__menu-icon
                use(xlink:href='../img/sprite.svg#help')
              | Help
              svg.aside__menu-arrow
                use(xlink:href=`../img/sprite.svg#arrow`)


    div.aside__flex
    div.aside__account

      div.aside__account-avata
        picture
          source(srcset="../img/avatar.webp" type="image/webp")
          img(src="../img/avatar.png" alt="avatar")
      div.aside__account-column
        p.aside__account-name Evano
        p.aside__account-role Project Manager

