table.table
  thead.table__thead
    tr.table__tr
      th(scope="col").table__th Customer Name
      th(scope="col").table__th Company
      th(scope="col").table__th Phone Number
      th(scope="col").table__th Email
      th(scope="col").table__th Country
      th(scope="col").table__th Status


  tbody.table__tbody
